<p>register works!</p>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="signupform" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <label for="profilename">profilename</label>
            <input
              type="text"
              id="profilename"
              formControlName = "profilename"
              class="form-control">
              <span
              *ngIf="!signupform.get('profilename').valid && signupform.get('profilename').touched"
             class="help-block">Please enter a valid username
           <span *ngIf="signupform.get('profilename').errors.required">Username is required</span>
           <span *ngIf="signupform.get('profilename').errors.minlength">Username required minimum 5 characters</span>
           <!-- <span *ngIf="signupform.get('username').errors.cannotContainSpace">Username cannotContainSpace</span> -->
           </span>
              

          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName = "email"
              class="form-control">
              
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input
              type="password"
              id="password"
              formControlName = "password"
              class="form-control">
              
          </div>
          <div class="form-group">
            <label for="pob">Place of Birth</label>
            <input
              type="text"
              id="pob"
              formControlName = "pob"
              class="form-control">
              
          </div>
          <div class="form-group">
            <label for="dob">dob</label>
            <input
              type="date"
              id="dob"
              formControlName = "dob"
              class="form-control">
          </div>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                formControlName = "gender"
                [value]="gender">{{ gender }}
            </label>
          </div>
          <div class="form-group">
            <label for="matha">matha</label>
            <select formControlName="matha">
                <option [ngValue]="null" disabled>Select matha</option>
                <option *ngFor="let prf of mathas" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>


          <div class="form-group">
            <label for="state">Gothra</label>
            <ng-select 
                       [items]="gothra"
                       bindLabel="name"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Select Gothra"
                       clearAllText="Clear"
                       formControlName="gothra">
            </ng-select>
        </div>

          <!-- gothra ends -->



          <div class="form-group">
            <label for="mothertongue">mothertongue</label>
            <input
              type="text"
              id="mothertongue"
              formControlName = "mothertongue"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="category">category</label>
            <input
              type="text"
              id="category"
              formControlName = "category"
              class="form-control">
              
          </div>
          <div class="form-group">
            <label for="fathername">fathername</label>
            <input
              type="text"
              id="fathername"
              formControlName = "fathername"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="mothername">mothername</label>
            <input
              type="text"
              id="mothername"
              formControlName = "mothername"
              class="form-control">
          </div>
          








          <!-- <div class="form-group">
            <label for="gothra">gothra</label>
            <select formControlName="gothra">
                <option [ngValue]="null" disabled>Select gothra</option>
                <option *ngFor="let prf of gothra" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
             
          </div> -->
          <div class="form-group">
            <label for="nakshatra">nakshatra</label>
            <select formControlName="nakshatra" #mynakshtra (change)='onNakshatraSelected(mynakshtra.value)'>
                <option [ngValue]="null" disabled>Select nakshtra</option>
                <option *ngFor="let prf of nakshatras" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select>
              
          </div>
          <div class="form-group">
            <label for="rashi">rashi</label>
            <select formControlName="rashi">
                <option [ngValue]="null" disabled>Select rashi</option>
                <option *ngFor="let prf of rashis" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>
          <div class="form-group">
            <label for="height">height</label>
            <select formControlName="height">
                <option [ngValue]="null" disabled>Select height</option>
                <option *ngFor="let prf of height" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>
          <div class="form-group">
            <label for="placeoflive">placeoflive</label>
            <input
              type="text"
              id="placeoflive"
              formControlName = "placeoflive"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="aboutvadhuvara">aboutvadhuvara</label>
            <textarea id="w3review" 
            id="aboutvadhuvara"
            formControlName = "aboutvadhuvara"
            class="form-control"
            rows="4" 
            cols="50">
              At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
              </textarea>
          </div>
          <div class="form-group">
            <label for="partnerpreference">partnerpreference</label>
            <textarea id="partnerpreference" 
            id="partnerpreference"
            formControlName = "partnerpreference"
            class="form-control"
            rows="4" 
            cols="50">
              At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
              </textarea>
          </div>
          <div class="form-group">
            <label for="heightestqualification">heightestqualification</label>
            <input
              type="text"
              id="heightestqualification"
              formControlName = "heightestqualification"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="mobilenumber">mobilenumber</label>
            <input
              type="text"
              id="mobilenumber"
              formControlName = "mobilenumber"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="alternatenumber">alternatenumber</label>
            <input
              type="text"
              id="alternatenumber"
              formControlName = "alternatenumber"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="currentcompany">currentcompany</label>
            <input
              type="text"
              id="currentcompany"
              formControlName = "currentcompany"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="currentsalary">currentsalary</label>
            <input
              type="text"
              id="currentsalary"
              formControlName = "currentsalary"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="familyvalues">familyvalues</label>
            <select formControlName="familyvalues">
                <option [ngValue]="null" disabled>Select familyvalues</option>
                <option *ngFor="let prf of fvs" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>
          <div class="form-group">
            <label for="familytype">Family Type</label>
            <select formControlName="familytype">
                <option [ngValue]="null" disabled>Select familytype</option>
                <option *ngFor="let prf of fts" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>
          <div class="form-group">
            <label for="familystatus">Family Status</label>
            <select formControlName="familystatus">
                <option [ngValue]="null" disabled>Select familystatus</option>
                <option *ngFor="let prf of fss" [ngValue]="prf">
                 {{ prf }}
                </option>
              </select> 
          </div>
          <div class="form-group">
            <label for="profilepic">Profile Pic</label>
            <img [src]="imageSrc" alt="your image" style="max-height: 400px; max-width: 280px;border:2px" />
            <input type="file" formControlName = "profilepic" class="form-control" (change)="onFileSelected($event)"> 
            <!-- <button class="btn btn-primary" (click)="onupload()">Upload</button> -->
             
          </div>
          <button class="btn btn-primary" type="submit" >Submit</button>    
        </form>
      </div>
    </div>
  </div>
  